html, body{
    height: 100%;
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: gray;
}

#spillvalg{
    display: flex;
    justify-content: center;
    border: 5px solid black;
    width: 1200px;
    height: 400px;
    padding: 10px;
    border-radius: 5px;
    margin: 5px;
    background: linear-gradient(rgb(233, 36, 118), #740862);
    font-size: 5rem;
}

#stein, #saks, #papir{
    margin: 20px;
}

#stein:hover, #saks:hover, #papir:hover{
    cursor: pointer;
}

#tekstbokser{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}
#tekstboks, #tekstboks2, #liv, #score{
    padding: 10px;
    border: 2px solid black;
    background: linear-gradient(rgb(94, 2, 45), rgb(54, 3, 22));
    border-radius: 5px;
    color: white;
    margin: 10px;
}