html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}
.tekst{ grid-area: header; }
.elev{ grid-area: main;}

.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
        'header'
        'main'
}

.tekst {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-image: url(matrixeffekt.gif);
    height: 250px;
    font-size: 3rem;
    color: white;
}

body {
    height: 0;
}

main{
    width: auto;
    list-style: none;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    background: linear-gradient(90deg,rgb(123, 124, 123),rgb(211, 210, 210), rgb(123, 124, 123));
}

.elev {
    border: 5px solid rgb(30, 30, 30);
    width: 150px;
    height: 200px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-self: center;
    justify-content: center;
    margin: 25px;
    flex-wrap: wrap;
    background: white;
}

p {
    font-size: 1.8rem;
}

@media screen and (max-width: 800px) {
    .elev{
        width: 40px;
        height: 54px;
    }
    img {
        width: 40px;
    }

}