html, body{
    height: 100%;
    margin: 0;
    padding: 0;
}

.head{ grid-area: header;}
.paiside{ grid-area: main; }
.middleside{ grid-area: mid; }
.butikkside{ grid-area: meny; }
.footerreal{ grid-area: feet;}

.grid-container{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: auto auto auto ;
    grid-template-areas: 
        'header  header header  header header'
        'main    mid    mid     meny   meny'
        'feet    feet   feet    feet   feet'; 
}

.head{
    height: 150px;
    text-align: center;
    background: linear-gradient(90deg, rgb(27, 57, 81), rgb(64, 120, 166),rgb(78, 144, 198),rgb(78, 144, 198),rgb(64, 120, 166),rgb(27, 57, 81));
    border-bottom: 10px rgb(101, 60, 19) solid;
    font-size: 1.5rem;
}
.head h2{
    color:red;
}


.roboto-regular {
    font-family: "Roboto", serif;
    font-weight: 400;
    font-style: normal;
  }
  

.paiside {
    background: linear-gradient(rgb(46, 86, 118),rgb(35, 70, 99));
    /* padding:100px; */
    
    text-align: center;
    border-bottom: 10px rgb(101, 60, 19) solid;
}

.paiside img{
    transition: transform 0.3s ease-in-out;
    filter: drop-shadow(0 0 10px rgb(241, 216, 198));
}

.paiside img:hover{
    transform: scale(1.1,1.1);
    cursor:pointer;
}

h2{
    color: green;
}

.middleside >.shoptop {
    display: flex;
    justify-self: center;
    width:200px;
    background: linear-gradient(red, orange)
}

.butikkside > .shoptop {
    display: flex;
    justify-self: center;
    width:200px;
    background: linear-gradient(red, orange)
}

.middleside, .butikkside{
    background:linear-gradient(rgb(126, 98, 70), rgb(122, 88, 56));
    border-bottom: 10px rgb(101, 60, 19) solid;
    overflow-y:auto;
    height: 614px;
    text-align: center;
    
}

.middleside img, .butikkside img {
    height: 100px;
    width: 100px;
}

.middleside > div{
    background: linear-gradient(rgb(112, 176, 180),rgb(88, 224, 234)); 
    border: darkslategray 5px solid;
    height: 100px;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    align-items: center;
    
}

.middleside > div > button{
    width:100px;
    height:100px;
    font-size: xx-large;
    background: linear-gradient(white,rgb(97, 215, 236));
    transition: transform 0.3s ease-in-out;
}

.middleside > div > button:hover{
    cursor: pointer;
    transform: scale(1.1,1.1);
}

.butikkside > div{
    background: linear-gradient(gray,lightgray);
    border: darkslategray 5px solid;
    height: 100px;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    align-items: center;
}

.butikkside > div > button{
    width:100px;
    height:100px;
    font-size: xx-large;
    background: linear-gradient(white,rgb(246, 180, 180));
    transition: transform 0.3s ease-in-out;
}

.butikkside > div > button:hover{
    cursor: pointer;
    transform: scale(1.1,1.1);
}



.footerreal{
    background: rgb(122, 91, 37);
    height: 19.5vh;
}

.footerreal > div{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}